include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include gate_pass_pharma *.css
recursive-include gate_pass_pharma *.csv
recursive-include gate_pass_pharma *.html
recursive-include gate_pass_pharma *.ico
recursive-include gate_pass_pharma *.js
recursive-include gate_pass_pharma *.json
recursive-include gate_pass_pharma *.md
recursive-include gate_pass_pharma *.png
recursive-include gate_pass_pharma *.py
recursive-include gate_pass_pharma *.svg
recursive-include gate_pass_pharma *.txt
recursive-exclude gate_pass_pharma *.pyc